html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.images {
  width: 100%;
}

body {
  background: white;
  margin:0;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: #45706E;
}

.white {
  color: #fff;
}

header {
  background-color: #47606C;
  display: flex;
  align-items: center;
  height: 150px;
}

.logo {
cursor: pointer;
margin-right: auto;
margin-top: .5rem;
margin-bottom: .5rem;
margin-left: 2rem;
width: 140px;
height: 172px;
}

.navigation-box {
  margin-right: 3rem;
  list-style: none;

}

.navigation-box li {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
}

.nav-list {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navigation-box li a:hover {
  color: #688FA5;
  border: 2px solid #fff;
}

main img {
  margin-bottom: 1rem;
}

.hover {
  position: relative;
  overflow: hidden;
  color: #fff;
}

.hover > section{
  position: absolute;
  bottom: -11em;
  width: 100%;
  padding: .5rem;
  margin: 0;
  text-align: left;
  background-color: linear-gradient(to buttom, rgba(0,0,0,0),rgba(0,0,0,.5));
}

.hover:hover section,
.hover:focus section {
  bottom: 0;
}

.hover p {
  margin: 1rem 1rem 2rem 2rem;
  font-size: 13px;
}

.hover h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  padding-left: 1rem;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navigation li a {
    text-decoration: none;
}

.staff-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  text-align: center;
  gap: 1rem;
}

.staff {
text-align: center;
}

.mission p {
  margin-right: 1.5rem;
  margin-left: 1rem;
  margin-top: 0rem;
}

.mission-title {
  margin-bottom: 1rem;
  margin-top: 0rem;
  margin-left: 1rem;
  margin-right: 1.5rem;
}

.mission-pic {
  width: 100%;
}

.social {
    float: right;
    margin-bottom: 5rem;
    background-color: #47606C;

}

.social h1 {
  color: white;
}

.social a {
  color: #47606c;

}

.social a:hover {
  color: #688FA5;
}

.mission-title {
  font-size: 30px;
}

.icon {
  width: 30px;
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contact-icon {
  margin: 0 auto;
  width: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.type {
  text-align: center;
}

.contact {
  text-align: center;
}

.footer {
  background-color: #47606C;
  padding: 1rem;
  height: 200px;
}

.social {
  text-align:right;
  margin-right: 2rem;
}


footer{
  background-color: #47606C;
  width: auto;
  height: 150px;
  z-index: -1;
}

.icon {
  width: 40px;
  margin: 0 auto;
  margin-top: 2rem;
}

.icon:hover {
  border: 3px solid #688FA5;
}

/*.contact-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1rem 1rem;
  gap: 1.5rem;
}


.contact-type {
  display: block;
  margin: 0 0 0 9rem;
}

.contact {
  text-align: center;
}

.type {
  text-align: center;
}

*/







@media only screen and (min-width: 38em){
  .hover p {
    font-size: 20px;
  }

  .hover h1 {
    font-size: 6rem;
  }

  .hover > section{
    position: absolute;
    bottom: -13rem;
    width: 100%;
    padding: .5rem;
    margin: 0;
    text-align: left;
    background-color: linear-gradient(to buttom, rgba(0,0,0,0),rgba(0,0,0,.5));
  }

  .mission {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .mission p,
  .mission h1  {
    margin: 1rem 1.5rem 1rem 2rem;
  }

.contact {
  text-align: center;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



.contact-info{
  gap: 1rem;
}

.contact-icon {
  width: 100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


}














@media only screen and (min-width: 62.5em){
.hover p {
  font-size: 25px;
}

.hover h1 {
  font-size: 10rem;
}

.hover > section{
  position: absolute;
  bottom: -15em;
  width: 100%;
  padding: .5rem;
  margin: 0;
  text-align: left;
  background-color: linear-gradient(to buttom, rgba(0,0,0,0),rgba(0,0,0,.5));
}

.staff-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 1rem;
  text-align: center;
  gap: 1rem;
}

.staff {
text-align: center;
}



.mission {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 3rem;
  margin-right: 3rem;
}


}
