html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  background: white;
  margin:0;
}

.container {
  position: relative;
}

.container .wrapper {
max-width: 100%;
height: 95vh;
margin: 0rem auto;
animation: slide 10s ease infinite;
overflow: hidden;
}

.container .slider-holder {
  display: grid;
  grid-template-columns: repeat(5, 100%);
  height: 100%;
}

.container #slider-image-1{
  background: lawngreen;
  background: url('../images/banner-1.jpg');
  background-size: cover;
}

.container #slider-image-2{
  background: yellow;
  background: url('../images/banner-2.jpg');
  background-size: cover;
}

.container #slider-image-3{
  background: tomato;
  background: url('../images/banner-3.jpg');
  background-size: cover;
}

.container #slider-image-4{
  background: blue;
  background: url('../images/banner-4.jpg');
  background-size: cover;
}

.container #slider-image-5{
  background: black;
  background: url('../images/banner-5.jpg');
  background-size: cover;
}

.container .button-holder {
  position: absolute;
  bottom: 0%;
  left: 45%;
}

.container .button-holder .dots {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 3rem;
  background-color: rgba(228, 234, 240, 0.73);
  margin: .4rem .3rem;
}

header {
  background-color: #47606C;
  display: flex;
  align-items: center;
  height: 150px;
}

.logo {
cursor: pointer;
margin-right: auto;
margin-top: .5rem;
margin-bottom: .5rem;
margin-left: 2rem;
width: 140px;
height: 172px;
}

.navigation-box {
  margin-right: 1.5rem;
  list-style: none;

}

.navigation-box li {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
}

.nav-list {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navigation-box li a:hover {
  color: #688FA5;
  border: 2px solid #fff;
}


Video {
  display: flex;
  margin: 0rem 1rem 1rem 1rem;
}

.giveaway-video {
  margin-bottom: 0rem;
  margin-top: 1rem;
}

.giveaway {
  margin: 0rem 1rem 1rem 2rem;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0rem 1rem;
  gap: 1rem;
}

.overview-pic {
 width: 100%;
}

.hover-box {
  width: 343.66px;
  height: 515.48px;
  position: relative;
  cursor: pointer;
}

.hover-box:hover .hover-color-box {
  width: 343.66px;

}

.hover-box img {
  display: box;
  width: 343.66px;
  height: 515.48px;
}

.hover-color-box {
  width: 0px;
  height: 515.48px;
  background: rgba(228,234,240,0.73);
  position: absolute;
  top: -31.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s ease;
}

.hover-color-box h2 {
color: #688FA5;
font-size: 50 px;

}

.newsletter {
  background-color: #E4EAF0;
  text-align: center;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem 0rem;
}


.sign {
  text-decoration: none;
  color: #45706E;
}

.sign:hover {
  color: #D7792D;
}

.sing:focus {
  color:#5B4E48;
}

.follow {
  text-align: right;
  margin-right: 1rem;
}

.email {
  border: solid 3px #45706E;
  border-radius: 5px;
  padding: 1rem;
  font-weight: bolder;
  margin-left: 5rem;
  text-align: left;
  font-weight: bold;
}

h2 {
  font-family: 'Playfair Display', serif;
  color: #45706E;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navigation li a {
    text-decoration: none;
}

.sign {
  color: #fff;
  background-color: #45706E;
  margin: 1.5rem 3rem 1.5rem 1.5rem;
  border: 2px solid #45706E;
  border-radius: 5px;
  padding-top: .5rem;
}

.sign-email {
display: grid;
grid-template-columns: 2fr 1fr;
margin: 0rem 1rem;
color: #45706E;
}

.dots:hover {
color: #455F6C;
}

.footer {
  background-color: #47606C;
  padding: 1rem;
  height: 200px;
}

.social {
  text-align:right;
  margin-top:  1rem;
  margin-right: 2rem;
}


footer{
  background-color: #47606C;
  width: auto;
  height: 150px;
  z-index: -1;
}

.icon {
  width: 40px;
  margin: 0 auto;
  margin-top: 2rem;
}

.icon:hover {
  border: 3px solid #688FA5;
}



@media only screen and (min-width: 38em){

  header {
    background-color: #47606C;
    display: flex;
    align-items: center;
    height: 150px;
  }

  .logo {
  cursor: pointer;
  margin-right: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: 2rem;
  width: 140px;
  height: 172px;
  }

  .giveaway-video {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0rem;
    margin-top: 1rem;
  }

  .giveaway {
    margin: 0rem 1rem 1rem 2rem;
  }


}

@media only screen and (min-width: 62.5em){

  .hover-box {
    width: 441px;
    height: 663px;
    position: relative;
    cursor: pointer;
  }
}


 /*@media only screen and (min-width: 25em){

}

@media only screen and (min-width: 38em){

  nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
    margin:1.5rem;
    margin-left: 65rem;
  }

  nav li {
      color: #fff;
      list-style: none;
  }

  .giveaway {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .overview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}*/
