html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: white;
  margin:0;
}

header {
  background-color: #47606C;
  display: flex;
}

.session {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

h2 {
  font-family: 'Playfair Display', serif;
}

.print {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navigation li a {
    text-decoration: none;
}
