html {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: white;
  margin:0;
  line-height: 1.5;
}

header {
  background-color: #47606C;
  display: flex;
  align-items: center;
  height: 150px;
}

.logo {
cursor: pointer;
margin-right: auto;
margin-top: .5rem;
margin-bottom: .5rem;
margin-left: 2rem;
width: 140px;
height: 172px;
}

.navigation-box {
  margin-right: 3rem;
  list-style: none;

}

.navigation-box li {
  display: inline-block;
  padding: 0px 20px;
  text-decoration: none;
}

.nav-list {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.navigation-box li a:hover {
  color: #688FA5;
  border: 2px solid #fff;
}



.session {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

h1 {
    font-family: 'Playfair Display', serif;
    color: #47606C;
    text-align: center;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

p {
  font-size: 15px;
}

.print {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.profolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slider {
  width: 100%;
  height: 450px;
  display: flex;
  overflow-x: auto;

 -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
}

.slide {
  width: 500px;
  flex-shrink: 0;
  height: 100%;
  background-color: blue;
}

.slides > div {
  scroll-snap-align: start;
}

.navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navigation li a {
    text-decoration: none;
}

.session-pic {
  width: 100%;
}

.session {
  display: flex;
}

.session div {
  width: 33.33%;
  display: flex;
  flex-direction: column;
}

.session p {
  flex-grow: 1;
}

.session li {
  list-style-type: disc;
  font-size: 12px;
    margin-bottom: .5rem;
}

.session div a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: rgba(71,96,108,1);
  font-weight: bold;
  border-radius: 12px;
  border: solid 3px #47606C;
  text-decoration: none;
  padding: .5rem;
  font-size: 12px;
}

.session a:hover {
  background: rgba(71,96,108,1);
  color: white;
  border-radius: 15px;
}

.talk {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.talk a{
 justify-content: center;
  align-items: center;
  color: rgba(71,96,108,1);
  font-weight: bold;
  border-radius: 12px;
  border: solid 3px #47606C;
  text-decoration: none;
  padding: .5rem;
  font-size: 15px;
  margin-left: 1rem;
}

.name,
.email {
  padding: .5rem 0rem 1rem .5rem;
  border-radius: 7px;
  border: solid 3px #47606C;
  margin:1rem;
  font-weight: bolder;
  font-size: 14px;
  color: #47606c;
  box-sizing: inherit;
  position: relative;
}

.message {
  padding: .5rem 0rem 10rem .5rem;
  border-radius: 7px;
  border: solid 3px #47606C;
  margin:1rem;
  font-weight: bolder;
  font-size: 14px;
  color: #47606c;
}

.talk a:hover {
  background: rgba(71,96,108,1);
  color: white;
  border-radius: 15px;
}

.talk-pic {
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 40%;
  background: #000;
  border: solid 10px #c3c3c3;
}


main {
margin: 1rem;
}

.footer {
  background-color: #47606C;
  padding: 1rem;
  height: 200px;
}

.social {
  text-align:right;
  margin-top:  1rem;
  margin-right: 2rem;
}


footer{
  background-color: #47606C;
  width: auto;
  height: 150px;
  z-index: -1;
}

.icon {
  width: 40px;
  margin: 0 auto;
  margin-top: 2rem;
}


.icon:hover {
  border: 3px solid #688FA5;
}

.number {
  width: 20%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.numbers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.submit {
  align-items: center;
}

.type {
  text-align: center;
}





@media only screen and (min-width: 38em){

  .session div a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: rgba(71,96,108,1);
    font-weight: bold;
    border-radius: 12px;
    border: solid 3px #47606C;
    text-decoration: none;
    padding: .5rem;
    font-size: 15px;
  }

  .name,
  .email {
    padding: .5rem 0rem 2rem .5rem;
    border-radius: 7px;
    border: solid 3px #47606C;
    margin:1rem;
    font-weight: bolder;
    font-size: 14px;
    color: #47606c;
    box-sizing: inherit;
    position: relative;
  }

  .message {
    padding: .5rem 0rem 18rem .5rem;
    border-radius: 7px;
    border: solid 3px #47606C;
    margin:1rem;
    font-weight: bolder;
    font-size: 14px;
    color: #47606c;
  }

  .talk {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


@media only screen and (min-width: 62.5em){

  .name,
  .email {
    padding: .5rem 0rem 4rem .5rem;
    border-radius: 7px;
    border: solid 3px #47606C;
    margin:1rem;
    font-weight: bolder;
    font-size: 14px;
    color: #47606c;
    box-sizing: inherit;
    position: relative;
  }

  .message {
    padding: .5rem 0rem 25rem .5rem;
    border-radius: 7px;
    border: solid 3px #47606C;
    margin:1rem;
    font-weight: bolder;
    font-size: 14px;
    color: #47606c;
  }

}
